.home {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.header {
    font: bold 16px Cambria;
}
.statement {
    font: italic 12px Calibri;
    text-align: left;
}
.main {

}

.loginForm ul{
    width: 100%;
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}
.footer {
    display: inline-block;
}
.loginPane {
    width: 50%;
    text-align: center;
    float:left;
}